<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.name" class="form-control" id="name" placeholder="Product Name Here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.description" class="form-control" id="year" placeholder="Tell about the product"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
        <input type="text" ng-model="product.price" class="form-control" id="director" placeholder="What is the price?"/>
    </div>
</div>
<!--
<div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Movie Genre</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.genre" class="form-control" id="genre" placeholder="Movie genre here"/>
    </div>
</div>
<!--
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save2"/>
    </div>
</div>
-->